/* font design  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* menu design */
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(178, 224, 209);
}
.container{
    background-color: black;
    width: 90%;
    margin-left: 3%;
    padding-left: 100px;
    border-radius: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    
}
.header-file{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
}
.header-details{
    width: 75%;
    padding: 15px 15px 20px 20px;
}
.header-tittle{
    color: white;
    font-size: 70px;
    font-size: Bold;
    margin: 5px;
}
.header-text{
    color: rgb(209, 217, 219);
    padding-bottom: 25px;
}
.header-button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 6, 6);
    border-radius: 10px;
}
.banner-img img{
    height: 613px;
    width: 80%;
    padding-left: 5px;
    padding-top: 33px;
}

/* navigation design  */
.menu-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.menu{
    background-color: black;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding-top: 50px;
}
.menu-cart{
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    margin-left: 20px;
}
.menu-cart a:hover{
    background-color: rgb(255, 9, 9);
}
.menu-cart a{
    color: black;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    display: block;
    padding-top: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 90%;
    height: 60px;
    border-radius: 10px;
} 
.cards{
    display: flex;
    margin-left: 25px;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.card{
    width: 30%;
    border: 1px solid rgb(185, 175, 175);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.card-blog{
    display: flex;
}
.card-blog img{
    width: 50%;
}
.vs{
    color: rgb(3, 3, 3)+;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.team-name{
    text-align: center;
}
.card-details p{
    text-align: center;
}
.footer-section{
    padding-top: 20px;
}

footer{
    color: aliceblue;
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 100px;
    padding-top: 50px;
}
hr{
    width: 70%;
    color: gray;
}
.footer-tab ul{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
li{
    list-style: none;
    margin-right: 15px;
    padding: 0px 15px;
}
li:hover{
    background-color: burlywood;
}
.footer-icon{
    padding-top: 20px;
    font-size: 30px;
}

/* <!-- Thank You  --> */